#url{
    color: black;
}

#urlf{
    color: white;
}

#insti{
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkblue;
    text-decoration: underline;
    font-family: monospace;
}

.card{
    justify-content: left;
}

#factores{
    display: flex;
    align-items: center;
    justify-content: center;
}

#valores{
    display: grid;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
}

#grids{
    display: grid;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

#ofertimg{
    width: 400px;
}

#insti-grids{
    display: grid;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-auto-columns: auto auto;
    grid-template-columns: auto auto;
    grid-row-gap: 25px;
}

#ofertas{
    background-color: rgb(5, 5, 71);
    border-radius: 20px;
    padding: 8px;
}

#ofertast{
    font-family: 'Raleway', sans-serif;
    color: white;
}

#botonpre{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inscripcion{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

#pasosadmi{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

@media screen and (max-width: 600px){
    #t-img{
        width: 100px;
        height: 100px;
    }

    #valores{
        grid-template-columns: auto auto;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    #grids{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 25px;
        align-items: center;
        justify-content: center;
    }

    #grd-itm{
        width: 400px !important;
        height: 190px !important;
    }

    #insti-grids{
        display: grid;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: auto;
        grid-row-gap: 25px;
    }

    #ofertas{
        background-color: rgb(5, 5, 71);
        border-radius: 0px;
        padding: 8px;
    }

    #inscripcion{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    
    #pasosadmi{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}

@media screen and (max-width: 1000px){
    #t-img{
        width: 100px;
        height: 100px;
    }

    #valores{
        grid-template-columns: auto auto;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    #grids{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 25px;
    }

    #grd-itm{
        width: 535px;
        height: 260px;
    }

    #insti-grids{
        display: grid;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: auto;
        grid-row-gap: 25px;
    }

    #ofertas{
        background-color: rgb(5, 5, 71);
        border-radius: 0px;
        padding: 8px;
    }

    #inscripcion{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    
    #pasosadmi{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    #adprocess{
        width: 400px;
        height: 400px;
    }
}